<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ejemplo de un CRUD completo</title>
<style type="text/css">
#formulario {
	width: 500px;
	padding-top: 20px;
}

#formulario input {
	margin-top: 10px;
	display: block;
}

input[type="text"], input[type="email"]  {
	width: 100%;
}
</style>
</head>
<body>
	<div id="menu">
		<a th:href="@{/list}">Inicio</a> | <a th:href="@{/new}">Nueva
			bicicleta</a>
	</div>
	<div id="formulario">
	
	
		<form th:action="${bicicleta.id != 0} ? @{/editar/submit} : @{/nuevo/submit}" th:object="${alumno}" method="post">
			<input th:if="${bicicleta.id != 0}" type="hidden" name="id" th:field="*{id}" />
			<input type="text" name="marcaModelo" th:field="*{marcaModelo}"
				placeholder="MarcaModelo" /> 
				<input type="text" name="descripcion" th:field="*{descripcion}"
				placeholder="Descripcion" /> 
				<input type="text" name="year" th:field="*{year}"
				placeholder="Year" /> 
				<input type="radio" name="hombre" th:field="*{hombre}"
				placeholder="Hombre" /> 
				<input type="radio" name="mujer" th:field="*{mujer}"
				placeholder="Mujer" />
				<input type="text" name="talla" th:field="*{talla}"
				placeholder="Talla" />  
				<input type="number" step="0.01" name="precio" th:field="*{year}"
				placeholder="Precio" /> 
				<input type="text" name="imagen" th:field="*{imagen}"
				placeholder="Imagen" /> 
	
			<input type="submit" name="enviar" value="Enviar" />
		</form>
	</div>
</body>
</html>