<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Formulario1</title>
</head>
<body>


  <div class="container">
    <h2>Agregar Bicicleta <span th:text="${bicicleta}">bici</span></h2>
    
    <div class="form-group">
      <label class="control-label col-sm-1" for="marca">Marca:</label>

      <form name="f1"> 
        <select name=marca onchange="cambia_modelo()"> 
          <option value="0" selected>Seleccione... </option>
          <option value="1">Lapierre </option>
          <option value="2">Kona </option>
          <option value="3">Specialized </option>
          <option value="4">Canyon </option>
          <option value="5">Cube </option>
          <option value="6">Trek </option>
          <option value="7">Scott</option>
          <option value="8">Orbea</option>

        </select>

        <select name=modelo for="Modelo"> 
          <option value="-">-
          </select> 
        </form>


        <script>
          let modelo_1=new Array("-","Prorace SAT","Spicy Fit","Edge","Zesty","Overvolt","...");
          let modelo_2=new Array("-","Operator","Process","...");
          let modelo_3=new Array("-","Epic","Chisel","Rockhopper","Demo","Stumpjumper","Fuse","Enduro","...");
          let modelo_4=new Array("-","Stoic","Neuron","Spectral","Strive","Torque","...");
          let modelo_5=new Array("-","Active","Endurance","Trail","Gravity","Elite","Acid","Ams","Stereo","...");
          let modelo_6=new Array("-","Session","Procaliber","Slash","X-caliber","Fuel","Remedy","Rail","...");
          let modelo_7=new Array("-","Aspect","Scale","Spark","Genius","Ransom","Gambler","Voltage","...");
          let modelo_8=new Array("-","Oiz m10","Oiz m20","Oiz m30","MX 27","MX 50","MX XS","...");


          let todosModelos = [
          [],
          modelo_1,
          modelo_2,
          modelo_3,
          modelo_4,
          modelo_5,
          modelo_6,
          modelo_7,
          modelo_8,
          ];

          function cambia_modelo(){ 

            let marca 
            marca = document.f1.marca[document.f1.marca.selectedIndex].value 

            if (marca != 0) { 

              mis_modelos=todosModelos[marca]

              num_modelos = mis_modelos.length 

              document.f1.modelo.length = num_modelos 

              for(i=0;i<num_modelos;i++){ 
                document.f1.modelo.options[i].value=mis_modelos[i] 
                document.f1.modelo.options[i].text=mis_modelos[i] 
              } 
            }else{ 

              document.f1.modelo.length = 1 

              document.f1.modelo.options[0].value = "-" 
              document.f1.modelo.options[0].text = "-" 
            } 

            document.f1.modelo.options[0].selected = true 
          }






        </script>

      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="talla">Talla:</label>
        <div class="col-sm-10">          
          <input type="radio" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
        </div>
      </div>
      <div class="form-group">        
        <div class="col-sm-offset-6 col-sm-8">
          <div class="checkbox">
            <label><input type="checkbox" name="remember"> Remember me</label>
          </div>
        </div>
      </div>
      <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>
  </div>

</body>
</html>